@import url('https://fonts.googleapis.com/css2?family=Codystar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


.oben{

    width: 100vw;
    height: 22vw;
    position: absolute;
    font-size: 50px;
    border-bottom-width: 5px;
    border-bottom-color: #808080;
    border-bottom-style: solid;
}

.logo{
    margin-top: 3.5vw;
    border: #808080;
    border-style: solid;
    border-width: 1.5vw;
    border-radius: 10px;
    height: 15vw;
    width: 15vw;
    margin-left: 13vw;
}

.logo:hover{
    margin-top: 3.5vw;
    border: #707070;
    border-style: solid;
    border-width: 1.5vw;
    border-radius: 10px;
    height: 15vw;
    width: 15vw;
    margin-left: 13vw;
}

.hintergrund{
    height: 10vw;
    width: 80vw;
    position: absolute;
    background-color: #808080;
    display: flex;
    margin: left;
    margin-top: 24vw;
    margin-left: 50vw;
    transform: translate(-50%,0%);
    border-radius: 20px;
}


#anzeige1{
    height: 10vw;
    width: 40vw;
    position: absolute;
    background-color: rgb(231, 181, 44);
    display: flex;
    z-index: 3;
    border-radius: 20px;
    animation: up 1s;
}

#anzeige{
    height: 10vw;
    width: 80vw;
    position: absolute;
    background-color: red;
    display: flex;
    z-index: 3;
    border-radius: 20px;
    animation: up1 1s;
}

@keyframes up{
    0%{
        height: 10vw;
        width: 0vw;
        position: absolute;

        display: flex;
        z-index: 3;
        border-radius: 20px;
    }
    100%{
        height: 10vw;
        width: 40vw;
        position: absolute;

        display: flex;
        z-index: 3;
        border-radius: 20px;
    }
}
.aufschrift{
    height: 10vw;
    width: 80vw;
    z-index: 100;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 7vw;
    font-family: 'Poppins', sans-serif;
    color: white;
}



@keyframes up1{
    0%{
        height: 10vw;
        width: 0vw;
        position: absolute;

        display: flex;
        z-index: 3;
        border-radius: 20px;
    }
    100%{
        height: 10vw;
        width: 80vw;
        position: absolute;

        display: flex;
        z-index: 3;
        border-radius: 20px;
    }
}
#none{
  display: none;
}



.hintergrund1{
    height: 10vw;
    width: 80vw;
    position: absolute;
    background-color: #808080;
    display: flex;
    margin: left;
    margin-top: 36vw;
    margin-left: 50vw;
    transform: translate(-50%,0%);
    border-radius: 20px;
}
.hintergrund2{
    height: 10vw;
    width: 80vw;
    position: absolute;
    background-color: #808080;
    display: flex;
    margin: left;
    margin-top: 48vw;
    margin-left: 50vw;
    transform: translate(-50%,0%);
    border-radius: 20px;
}
.hintergrund3{
    height: 10vw;
    width: 80vw;
    position: absolute;
    background-color: #808080;
    display: flex;
    margin: left;
    margin-top: 60vw;
    margin-left: 50vw;
    transform: translate(-50%,0%);
    border-radius: 20px;
}
.hintergrund4{
    height: 10vw;
    width: 80vw;
    position: absolute;
    background-color: #808080;
    display: flex;
    margin: left;
    margin-top: 72vw;
    margin-left: 50vw;
    transform: translate(-50%,0%);
    border-radius: 20px;
}
.hintergrund5{
    height: 10vw;
    width: 80vw;
    position: absolute;
    background-color: #808080;
    display: flex;
    margin: left;
    margin-top: 84vw;
    margin-left: 50vw;
    transform: translate(-50%,0%);
    border-radius: 20px;
}
.hintergrund6{
    height: 10vw;
    width: 80vw;
    position: absolute;
    background-color: #808080;
    display: flex;
    margin: left;
    margin-top: 96vw;
    margin-left: 50vw;
    transform: translate(-50%,0%);
    border-radius: 20px;
}
.hintergrund7{
    height: 10vw;
    width: 80vw;
    position: absolute;
    background-color: #808080;
    display: flex;
    margin: left;
    margin-top: 108vw;
    margin-left: 50vw;
    transform: translate(-50%,0%);
    border-radius: 20px;
}

#display{

}
.wenigera{
  display: flex;
  position: absolute;
font-size: 3vw;

  margin-left: 11vw;
  margin-top: 120vw;
}
.wenigera{

  font-family: 'Poppins', sans-serif;
}
.mehra{
  font-family: 'Poppins', sans-serif;
}
#mehr .um .mehra{
  display: flex;
  position: absolute;
  font-size: 3vw;

  margin-left: 11vw;
  margin-top: 60vw;
}
#weniger .um .mehra{
  display: none;
  position: absolute;


  margin-left: 11vw;
  margin-top: 60vw;
}
#mehr .wert{
  display: none;
  position: absolute;

  margin-left: 11vw;
  margin-top: 60vw;
}
#mehr .um .wenigera{
  display: none;
  position: absolute;


  margin-left: 11vw;
  margin-top: 60vw;
}
.back{
  height: 100px;
  width: auto;
  font-size: 70px;
  background: orange;
  margin-left: 10vw;
  margin-top: 10vw;
  border: red;
  border-style: solid;
  border-width: 1.5vw;
  border-radius: 10px;
  color: white;
}
.theme{

  width: 40vw;
  height: 10vw;
  margin-left: 40vw;
  margin-top: 5vw;

}
.dark{
  background-color: black;
  width: 20vw;
  height: 10vw;
  border-style: solid;
  border-width: 10px;
  border-radius: 10px;
}
.light{
  background-color: yellow;
  width: 20vw;
  height: 10vw;
  border-style: solid;
  border-width: 10px;
  border-radius: 10px;
  position: absolute;
  display: flex;
  margin-left: 19vw;
}
.optiontheme{
  position: absolute;
  display: flex;
  font-size: 70px;
  margin-left: 10vw;
  margin-top: 5vw;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
}
.haken{
  font-size: 50px;
  margin-left: 40%;
  margin-top: 5%;

  position: absolute;
  display: flex;
  text-decoration: none;
  color: green;
  font-style: oblique;
}
