
body{
    background-color: #303030;
}
.wenigera{
  color: white;
}
#mehr .um .mehra{
  color: white;
}
#weniger .um .mehra{
  color: white;
}
#mehr .wert{
  color: white;
}
#mehr .um .wenigera{
  color: white;
}
h1{
    color: 	white;
}
.oben{
    background-color: #303030;
    border-bottom-color: #808080;
}
